<ion-header>
  <ion-toolbar>
    <ion-title>
      Post Events
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
  <form [formGroup]="PostEvent" (ngSubmit)="Postevent(PostEvent.value)">

    <ion-card-header>
      <div *ngIf="imageChosen == 0" class="uploadWrap">
        <ion-icon (click)="presentActionSheet()" name="cloud-upload"></ion-icon>
      </div>

      <div *ngIf="imageChosen == 1" class="img-preview">
        <img [src]="imagePath" alt="">
      </div>
    </ion-card-header>


    <div *ngIf="imageChosen == 1" class="uploadWrap">
      <ion-icon (click)="uploadPhoto()" name="cloud-upload"></ion-icon>
    </div>


    <ion-list>
      <ion-item>
        <ion-label>Post</ion-label>
        <ion-textarea type="text" formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Location</ion-label>
        <ion-input type="text" formControlName="Location" [(ngModel)]="setLocation" >  </ion-input>
      </ion-item>
      <button type="button"  (click)="GetLocation()"> <ion-icon name="locate"></ion-icon> </button>



      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" formControlName="date"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="startTime" ></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="endTime"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label>Contact Number</ion-label>
        <ion-input type="text" formControlName="contactNumber"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Authorised Person</ion-label>
        <ion-input type="text" formControlName="authorisedPerson"></ion-input>
      </ion-item>


    </ion-list>

      <button ion-button full type="submit">Post</button>

  </form>


</ion-card>

</ion-content>
